body {
    /* background: black */
}

#mentor-dashboard-page .solution,
#mentor-next-solutions-page .solution,
#mentor-testimonials-page .solution {
    margin:0 !important;
    border:0 !important;
    background:#f7f7f7;
    border:1px solid #eee !important;
    /* border-width:0px 1px !important; */
    padding:28px 25px !important;
    /* border-bottom:1px solid #eee !important; */
}

#mentor-dashboard-page .header,
#mentor-next-solutions-page .header,
#mentor-testimonials-page .header {
    padding-top:30px !important;
}

#mentor-dashboard-page .solution .track-icon,
#mentor-next-solutions-page .solution .track-icon,
#mentor-testimonials-page .solution .track-icon {
    top: 13px !important;
}

#mentor-dashboard-page .solution:nth-of-type(1),
#mentor-next-solutions-page .solution:nth-of-type(1),
#mentor-testimonials-page .solution:nth-of-type(1) {
    border-top:1px solid #ccc !important;
    border-radius: 10px 10px 0px 0px;
}

#mentor-dashboard-page .solution:hover,
#mentor-next-solutions-page .solution:hover,
#mentor-testimonials-page .solution:hover {
    border: 1px solid #4A90E2 !important;
}


#mentor-dashboard-page .solution:nth-child(even),
#mentor-next-solutions-page .solution:nth-child(even),
#mentor-testimonials-page .solution:nth-child(even) {
    background: transparent
}
.solution .icons .joiner { visibility: hidden !important; }
.solution .icons .exercise {
    border-radius: 5px !important;
    border: 1px solid #009cab99 !important;
    box-shadow: 1px 1px 5px #bbb;
}
.solution .icons .person {
    border-radius: 25px !important;
    border:0 !important;
    box-shadow: 0px 0px 5px #999;
}


.solution .title {
    font-size:0rem !important;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0px !important;
}

.solution .details .extra {
    color: #888 !important;
    font-size: 14px !important;
}

/* extraneous */
#mentor-next-solutions-page .solution .extra .language {
    display: none !important;
}
#mentor-next-solutions-page .solution .extra .iteration {
    /* display: none !important; */
    /* padding-right:0.5em; */
}
#mentor-next-solutions-page .solution .extra .divider {
    display: none !important;
}

.solution .title div {
    font-size:1.2rem !important;
}

.solution .title div.handle {
    order:2;
    font-weight: normal !important;
    font-size:0.75rem !important;
}
.solution .title div.exercise {
    font-weight:500;
    padding-right:1.5em;
    color: #333 !important;
    order:1
}

#mentor-next-solutions-page .solution .title div.handle {
    /* display: none !important; */

}

.solution .details .extra .submitted-at {
    float:right;
}

.button, .pure-button {
    border-radius: 20px !important;
    padding-left:25px !important;
    padding-right:25px !important;
}

.analysis-section {
    border-radius: 5px;
    border:0 !important;
    box-shadow: 0px 0px 4px #999;
    width:99%;
    margin-top:3px;
    /* border:1px solid #eee !important; */
}
.analysis-section .recommendation { border:0 !important}

.analysis-section h3 i { color:#777 !important }
.analysis-section h3 {
    font-size:0.8rem;
    border-radius: 5px 5px 0 0;
    padding:5px 10px !important;
    background: #79c9b366 !important;
    color:#444 !important;
}

.misc-menu .dropdown .person {
    display: none;
}

.action-next_solutions .widget-filter.track_id { width: 75%; }
.action-next_solutions .widget-filter.track_id .title {
    display: none !important
}


/* slim header */
/* a.notifications {
    background: transparent !important;
    color:white !important;
    opacity: 0.9;
}
header .logo { display:none !important; }
header {
    height:0px !important;
} */

#mentor-solution-page nav.breadcrumb {
    display: none;
}

.widget-iterations-nav .title {
    font-size:14px !important;
    margin-top:0 !important;
    padding-bottom: 8px !important;
}

header .notifications {
    background: transparent !important;
}

#mentor-solution-page .track-header {
    padding: 30px 0 !important;
    background: #009cab !important;
}
#mentor-solution-page .tools-bar .notification {
    color: #333 !important;
    font-weight: 500 !important;
}
#mentor-solution-page .tools-bar .mentoring-notes {
    padding-right: 0 !important
}
#mentor-solution-page .tools-bar {
    max-width:1200px;
    background: transparent !important;
    margin: 0 auto !important;
    margin-bottom:20px !important;
    opacity: 0.8;
    border: 0 !important;
    padding:10px 0 !important;
    border-bottom: 2px solid #009cab55 !important;
}

/* testimonials pop */

.testimonial .feedback i {
    color: #ccc !important;
    font-size:0.6em !important;
}
.testimonial .feedback {
    font-size:1.6em !important;
    line-height: 1.3em !important;
    font-weight: 200 !important;
}

#mentor-next-solutions-page .next-exercises-navigation .subtitle .label {
    /* background: #4A90E2; */
    /* background:#179caa99; */
}

/* less bold */
#mentor-next-solutions-page .next-exercises-navigation li .label {
    font-weight: normal !important;
    color:#444 !important;
    padding:5px 0;
    display: block;
    margin:0 !important;
    /* position: relative; */
    /* display: inline-block; */
}
#mentor-next-solutions-page .next-exercises-navigation li .label:hover {
    color: #669cab !important;
}
#mentor-next-solutions-page .next-exercises-navigation .exercises .label:before {
    content: "";
    position: absolute;
    /* border-left: 2px solid red; */
    /* opacity:0; */
    top: 0;
    left: -21px;
    /* transition-property: opacity; */
    /* transition-duration: 0.5s; */
    bottom: 0px;
}
#mentor-next-solutions-page .next-exercises-navigation .exercises .label:hover:before {
    content: "";
    border-left: 2px solid #009cab;
    position: absolute;
    opacity:1;
    top: 0;
    left: -21px;
    bottom: 0px;
}

body #mentor-next-solutions-page .next-exercises-navigation .label.selected {
    font-weight: bold !important;
}

#mentor-dashboard-page .solution .core,
#mentor-dashboard-page .solution .side,
#mentor-dashboard-page .solution .independent,
#mentor-next-solutions-page .solution .core,
#mentor-next-solutions-page .solution .side,
#mentor-next-solutions-page .solution .independent,
#mentor-testimonials-page .solution .core,
#mentor-testimonials-page .solution .side,
#mentor-testimonials-page .solution .independent {
    font-weight: normal !important;
}

#mentor-dashboard-page .solution .core,
#mentor-next-solutions-page .solution .core,
#mentor-testimonials-page .solution .core {
    color: #179caacc !important;
}

/* sidebar */

#mentor-solution-page .sidebar  h4 {
font-weight: 400;
color: #333;
padding: 7px 0;
border-bottom: 1px solid #ddd;
margin-bottom: 13px;
}

#mentor-solution-page .sidebar {
    margin:0em 0 1.5em;
}
#mentor-solution-page .sidebar .member-since,
#mentor-solution-page .sidebar .helped-count,
#mentor-solution-page .sidebar h3,
#mentor-solution-page .sidebar a {
    display: none;
}
#mentor-solution-page .sidebar .bio {
    font-size:14px;
    width:80% }
#mentor-solution-page .sidebar .badges {
    margin-top:5px;
    margin-left:0px;
}
#mentor-solution-page .sidebar .name:after,
#mentor-solution-page .sidebar .badges .badge {
    font-size:10px;
    color:#333;
    border:1px solid #ccc;
    padding:0px 4px;
    letter-spacing: -0.2px;
    display: inline-block;
    border-radius: 3px;
    background: #f7f7f7;
    line-height: 1.6em;
    margin-bottom:2px;
}
#mentor-solution-page .sidebar img {
    box-shadow: 0px 0px 5px #666;
    width:70px;
    border-radius: 100%;
    float:right;
    margin-top:5px;
    margin-left:20px;
    margin-right:10px;
    /* margin-bottom:1em; */
}
#mentor-solution-page .sidebar .name {
    font-weight: bold;
    font-size:16px;
}
#mentor-solution-page .sidebar .name.mentor:after {
    content: "Also a Mentor";
    font-weight: normal;
    background: rgba(58,178,146,0.1);
    border: 1px solid #ddd;
    margin-left:10px;
    top:-3px;
    position: relative;
}