#mentor-dashboard-page .solution,
#mentor-next-solutions-page .solution,
#mentor-testimonials-page .solution {
    margin:0 !important;
    border:0 !important;
    background:#f7f7f7;
    border:1px solid #eee !important;
    /* border-width:0px 1px !important; */
    padding:28px 20px !important;
    /* border-bottom:1px solid #eee !important; */
}

#mentor-dashboard-page .header,
#mentor-next-solutions-page .header,
#mentor-testimonials-page .header {
    padding-top:30px !important;
}

#mentor-dashboard-page .solution .track-icon,
#mentor-next-solutions-page .solution .track-icon,
#mentor-testimonials-page .solution .track-icon {
    top: 13px !important;
}

#mentor-dashboard-page .solution:nth-of-type(1),
#mentor-next-solutions-page .solution:nth-of-type(1),
#mentor-testimonials-page .solution:nth-of-type(1) {
    border-top:1px solid #ccc !important;
    border-radius: 10px 10px 0px 0px;
}

#mentor-dashboard-page .solution:hover,
#mentor-next-solutions-page .solution:hover,
#mentor-testimonials-page .solution:hover {
    border: 1px solid #4A90E2 !important;
}


#mentor-dashboard-page .solution:nth-child(even),
#mentor-next-solutions-page .solution:nth-child(even),
#mentor-testimonials-page .solution:nth-child(even) {
    background: white
}
.solution .icons .joiner { visibility: hidden !important; }
.solution .icons .exercise {
    border-radius: 5px !important;
    border: 1px solid #009cab99 !important;
    box-shadow: 1px 1px 5px #bbb;
}
.solution .icons .person {
    border-radius: 25px !important;
    border:0 !important;
    box-shadow: 0px 0px 5px #999;
}


.solution .title {
    font-size:0rem !important;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0px !important;
}

.solution .details .extra {
    color: #888 !important;
}

/* extraneous */
#mentor-next-solutions-page .solution .extra .language {
    display: none !important;
}
#mentor-next-solutions-page .solution .extra .iteration {
    /* display: none !important; */
    padding-right:1.5em;
}
#mentor-next-solutions-page .solution .extra .divider {
    display: none !important;
}

.solution .title div {
    font-size:1.2rem !important;
}

.solution .title div.handle {
    order:2;
    font-weight: normal !important;
    font-size:0.75rem !important;
}
.solution .title div.exercise {
    font-weight:500;
    padding-right:1.5em;
    color: #333 !important;
    order:1
}

#mentor-next-solutions-page .solution .title div.handle {
    display: none !important;

}

/* testimonials pop */

.testimonial .feedback i {
    color: #ccc !important;
    font-size:0.6em !important;
}
.testimonial .feedback {
    font-size:1.6em !important;
    line-height: 1.3em !important;
    font-weight: 200 !important;
}

#mentor-next-solutions-page .next-exercises-navigation .subtitle .label {
    /* background: #4A90E2; */
    /* background:#179caa99; */
}

/* less bold */
#mentor-next-solutions-page .next-exercises-navigation li .label {
    font-weight: normal !important;
    color:#444 !important;
}

body #mentor-next-solutions-page .next-exercises-navigation .label.selected {
    font-weight: bold !important;
}

#mentor-dashboard-page .solution .core,
#mentor-dashboard-page .solution .side,
#mentor-dashboard-page .solution .independent,
#mentor-next-solutions-page .solution .core,
#mentor-next-solutions-page .solution .side,
#mentor-next-solutions-page .solution .independent,
#mentor-testimonials-page .solution .core,
#mentor-testimonials-page .solution .side,
#mentor-testimonials-page .solution .independent {
    font-weight: normal !important;
}