:root {
    --background: white;
    --grey-900: #202833;
    --grey-800: #414b5b;
    --grey-700: #6f7a8a;
    --grey-600: #939fb1;
    --grey-500: #afbecd;
    --grey-400: #ccd4db;
    --grey-300: #d5dde5;
    --grey-200: #e1e7ec;
    --grey-100: #f8f9fa;

    --greenblue-700: hsla(164, 51%, 34%, 1);
    --greenblue-400: #3ab292;

    --image-shadow: var(--grey-600);
    --window-shadow: var(--grey-800);

    --grey-bottom-border: #ddd;
}
