@import "./inline_profile.scss";
@import "./headers.scss";
@import "./fixups.scss";
@import "./features/new_messages.scss";

/***********
sticky code
*/

.stickySubmission {
    position: sticky;
    top:15px;
}

/********
pro node
*/

.proMode {
    .next-solutions .subheading { display: none;}
    #mentor-next-solutions-page h2 { display: none; }
}

/***********
tab new messages
*/

.header .h1-subtitle { margin-bottom:20px !important; }
.header-tabs { padding-top:10px; }
.header-tab {
    position:relative;
    overflow: visible !important;
    .newCount {
        position: absolute;
        top:-10px;
        right:-5px;
        background:#f34a56;
        color:white;
        padding:0px;
        border-radius: 20px;
        min-width:18px;
        font-size:10px;
        text-align: center;
    }
}
// .header-tabs a.header-tab:nth-child(2) { overflow: hidden !important; }

/***********
double wide
*/

body.doublewide {
    .lo-container {
        max-width: none !important
    }

    /* override our own rule for mentoring screen */
    .tools-bar {
        max-width: none !important
    }

    .lhs {
        width:60% !important
    }

    .rhs {
        width:40% !important
    }
}


/*************
popout editor
*/

.new-editable-text .pop {
    float:right;
    padding:5px;
    cursor: pointer;
    color:#666;
}
.new-editable-text.popout {
    position: fixed;
    top: 30px;
    padding: 15px 30px;
    background: var(--background);
    border: 2px solid #2ac59c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--window-shadow);
    /* width: 513px; */
    z-index: 100;
}
