/* header and tabs */

div.header {
    background: #0098a6 !important;
    background-image: none !important;
}
div.header h1 {
    font-size:24px !important;
    color: hsl(185, 100%, 97%) !important
}
div.header .h1-subtitle {
    color:hsl(185, 64%, 82%) !important;
    font-size: 16px !important;
}
.header .header-tab:not(.selected) {
    /* background: hsla(185, 100%, 26%, 1) !important; */
    color: hsla(185, 40%, 84%, 1) !important
}
.header .header-tab.selected {
    font-weight: bold !important;
    /* color: #009cab !important */

}


#mentor-dashboard-page .header,
#mentor-next-solutions-page .header,
#mentor-testimonials-page .header {

    padding-top:30px !important;
}

#solution-page div.header {
    background: transparent !important;
    h1 {
        color: var(--grey-800) !important
    }
    .details .star-button {
        width: auto !important;
    }
}

.tools-bar .pure-button,
{
    color:var(--greenblue-700) !important;
    &:hover {
    }
}
.tools-bar .mentoring-notes:hover {
    color:var(--greenblue-400) !important;
    text-decoration: underline !important;
}

.tools-bar .notification .ignore {
    padding:2px 15px !important;
    margin:3px 0;
    margin-left:20px !important;
    border:1px solid var(--greenblue-400);
    font-size:12px;
}
